Source: ecb
Section: devel
Priority: optional
Maintainer: Zak B. Elep <zakame@spunge.org>
Uploaders: Cai Qian <caiqian@debian.org>
Build-Depends: cdbs, debhelper (>= 5.0.7)
Standards-Version: 3.7.2

Package: ecb
Architecture: all
Depends: emacs21 | emacsen | emacs-snapshot
Description: code browser for Emacs supporting several languages
 ECB is source code browser for Emacs. It is a global
 minor-mode which displays a couple of windows that can
 be used to browse directories, files and methods.
 It supports method parsing for Java, C, C++, Elisp etc.
 .
  Homepage: http://ecb.sourceforge.net
